:root {
    --primary-color: orange;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gotham";
}
body {
    overflow: hidden;
}
/* list of customers */
.card-container {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.customer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    width: 300px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px 20px;
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
}

.card .customer-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}
.card .customer-details {
    margin-bottom: 20px;
}
.card .contact-btn {
    background: var(--primary-color);
    padding: 10px 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
    border: 2px solid var(--primary-color);
}
.card .contact-btn:hover {
    border: 2px solid var(--primary-color);
    background: none;
    color: black;
}

