*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
  }
  .background{
      background: url(background.jpg);
      height: 80vh;
      width: 100%;
      background-size: cover;
      display: flex;
      flex-direction: column;
      border-radius: 10px;      
  }
  .p{
    padding-top: 4vh;
    width: 30%;
    color: white;
    text-align: start;
    margin-left: 130vh;
    justify-content: flex-start;
  }
  p{
      margin-top: 4vh;
      line-height: 4vh;
  }

  
  
  nav{
    padding: 5px 40px;
  }
  nav ul{
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
    
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: cyan;
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.card {
    width: 20vw;
    transition: 0.5s ease-in-out;
    height: auto;
    margin-left: 2vw;
    margin-top: 10vh;
    border-radius: 5px;
    background:  #fff;
    color: #000;
    text-align: center;
    opacity: 0.9;
    box-shadow: 10px 14px 20px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 14px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 20px -3px rgba(0,0,0,0.75);
}
.card:hover{
    transition: 0.4s ease-in-out;
    opacity: 1;
    box-shadow: 10px 14px 16px -3px rgba(0,0,0,0.76);
-webkit-box-shadow: 10px 14px 16px -3px rgba(0,0,0,0.76);
-moz-box-shadow: 10px 14px 16px -3px rgba(0,0,0,0.76);
transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 38vh;
    border-radius: 5px;
}
.cards .card a{
  text-decoration: none;
  cursor: pointer;
}
.cards .card .content h2{
    font-weight: 500;
    color: #000;
}
.cards .card .content p{
  color: #000;
}
  @media all and (max-width: 900px){
    nav{
      padding: 5px 30px;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px #33ffff,
                  inset 0 0 10px #66ffff;
    }
    nav ul li.items:hover:after{
      opacity: 0;
    }
  }

  